<h1>Lista de personagens</h1>
<form [formGroup]="filter" class="form-filtro" (submit)="filtrar()">
    <mat-form-field class="small" appearance="outline">
        <mat-label>Pesquisar por nome</mat-label>
        <input matInput type="text" formControlName="nome" style="height: 20px !important;">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Gênero</mat-label>
        <mat-select formControlName="genero">
            <mat-option value="">Selecione</mat-option>
            <mat-option value="male">Masculino</mat-option>
            <mat-option value="female">Feminino</mat-option>
            <mat-option value="genderless">Sem gênero</mat-option>
            <mat-option value="unknow">Desconhecido</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-radio-group formControlName="status">
        <mat-label>Status</mat-label>
        <mat-radio-button value="alive">Vivo</mat-radio-button>
        <mat-radio-button value="dead">Morto</mat-radio-button>
        <mat-radio-button value="unknow">Desconhecido</mat-radio-button>
    </mat-radio-group>

    <div class="buttons">
        <button mat-flat-button color="primary" type="submit">Pesquisar</button>
        <button mat-flat-button color="accent" (click)="filter.reset()">Limpar</button>
    </div>
</form>
<br>
<br>

<app-tabela [personagens]="personagens" [prev]="prev" [next]="next" (onFirstPage)="primeiraPagina()"
    (onPrevPage)="paginaAnterior()" (onNextPage)="proximaPagina()" (onLastPage)="ultimaPagina()"
    (onVisualize)="irParaDetalhesPersonagem($event)"></app-tabela>
